ul {
    padding-left: 0;
    display: block;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;*/
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;

}

.infoFooter {
    background-color: #eee;
    text-align: left;
    font-size: 12px;
}

.subFooter {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.content {
    text-rendering: optimizeSpeed;
    font-family: "Droid Sans",Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    /*margin-left: -10px;*/
    margin-right: -10px;
}

.infoBox {
    margin-bottom: 30px;
    width: 25%;
}

.boxHeader {
    font-size: 13px;
    line-height: 1.5;
    width: auto;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
}

.listItem {
    margin-bottom: 13px;
}

#more {
    color: #56a0e8 !important;
    font-weight: 300;
    text-decoration: none;
}