button {
    outline: none;
    cursor: pointer;
}

.mainContainer {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}

.textTitle {
    margin-top: 40px;
    margin-bottom: 0;
}

.text {
    text-align: center;
    margin-bottom: 0;
}

.homesAvailable,
.highestPriced,
.mostSquareFootage,
.mostRecent {
    text-align: center;
    color: #999;
    font-weight: 400;
    font-size: 15px;
}

.seeMoreContainer {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.seeMoreListing {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    color: #fff;
    background: #0074e4;
}